#!/bin/{{context["rungms"]["shell"]}} -f
{% block script_header %}
{% endblock %}
################################################################################
# Define GMSPATH
################################################################################
{% include "gmspath.template" %}
################################################################################
# Source install.info
################################################################################
{% include "install.info.template" %}
################################################################################
# Command-line arguments
################################################################################
{% include "commandline.template" %}
################################################################################
# Define TARGET
################################################################################
{% include "target.template" %}
################################################################################
# Define variables that will impact run at the top of the script
################################################################################
{% block variables %}
{% endblock %}
################################################################################
# Define DDI_RHS and DDI_RCP
################################################################################
{% include "remote.template" %}
################################################################################
# Setup LD_LIBRARY_PATH
################################################################################
{% block ld_library_path %}
{% endblock %}
################################################################################
# Setup PATH
################################################################################
{% block path %}
{% endblock %}
{% if context["rungms"]["scheduler"] is not none %}
################################################################################
# Scheduler
################################################################################
{% block scheduler %}
{% endblock %}
{% endif %}
################################################################################
# Define local scratch (SCR)
################################################################################
{% block local_scratch %}
{% endblock %}
################################################################################
# Define user scratch (USERSCR)
################################################################################
{% block user_scratch %}
{% endblock %}
################################################################################
# Process command-line arguments
################################################################################
{% include "commandline_processing.template" %}
################################################################################
# Input processing
################################################################################
{% include "input_processing.template" %}
################################################################################
# GAMESS resource files
################################################################################
{% include "resource_files.template" %}
{% if context["rungms"]["include_gddi"] %}
################################################################################
# GDDI resource files setup
################################################################################
{% include "gddi_files.template" %}
{% endif %}
{% if context["rungms"]["include_remd"] %}
################################################################################
# REMD resource files setup
################################################################################
{% include "remd_files.template" %}
{% endif %}
################################################################################
# Remove restart files from previous run
################################################################################
{% include "restart_files.template" %}
################################################################################
# DDI Communication Choice pre-run
################################################################################
{% block prerun %}
{% endblock %}
{% if context["rungms"]["include_gddi"] %}
################################################################################
# GDDI pre-run setup
################################################################################
{% include "gddi_prerun.template" %}
{% endif %}
{% if context["rungms"]["include_remd"] %}
################################################################################
# REMD pre-run
################################################################################
{% include "remd_prerun.template" %}
{% endif %}
{% if context["rungms"]["include_myipcrm"] %}
################################################################################
# Clear system of stray semaphores from the user after launch
################################################################################
{% include "myipcrm.template" %}
{% endif %}
{% if context["rungms"]["include_binary_info"] %}
################################################################################
# Executable Information
################################################################################
{% include "binary_info.template" %}
{% endif %}
{% if context["rungms"]["include_launch_header"] %}
################################################################################
# Launch Header
################################################################################
{% include "launch_header.template" %}
{% endif %}
################################################################################
# GAMESS Launch
################################################################################
{% block launch %}
{% endblock %}
{% if context["rungms"]["include_gddi"] %}
################################################################################
# GDDI file juggling
################################################################################
if ($GDDIjob == true) cp $SCR/$JOB.F07 $USERSCR/$JOB.dat
{% endif %}
################################################################################
# Accounting info
################################################################################
echo ----- accounting info -----
echo Files used on the primary node $primary_node were:
ls -lF $SCR/$JOB.*
{% block accounting_info %}
{% endblock %}
################################################################################
# Scratch clean-up
################################################################################
{% block postrun %}
{% endblock %}
{% if context["rungms"]["include_myipcrm"] %}
################################################################################
# Clear system of stray semaphores from the user after launch
################################################################################
if ( -f $GMSPATH/bin/my_ipcrm ) $GMSPATH/bin/my_ipcrm
{% endif %}
################################################################################
# Date/Time
################################################################################
date
time
exit